<% provide(:title, 'About Us') %>

<h1>About Us</h1>
	<p>
		Life Buoy is an iOS and Android-compatible application that wirelessly connects patients to physicians.  Its purpose is three-fold: 
		<ol>
			<li>To aid in disaster relief</li> 
			<li>To reach patients in rural and underserved regions</li>
			<li>To train the next generation’s physicians</li>
		</ol>
	</p>
