<div class="center hero-unit">
<h1>Life Buoy</h1>
<h2>Telemedicine @ Your Fingertips</h2>

	<p>
		Life Buoy is an innovative iOS and Web application that wirelessly connects patients to physicians. Its purpose is three-fold: to provide non-emergent medical consults, to reach patients in rural and underserved regions, and to help train the next generation’s tech-savvy physicians. By leveraging a user-friendly interface on popular smartphone and tablet platforms, Life Buoy is able to provide instantaneous video consultations with physicians over any geographical distance, up-to-date GPS locations of relief centers and emergency rooms, and instantaneous e-prescription of vital medicines to nearby pharmacies. 
	</p>
	<%= link_to image_tag("buttonAdd@2x.png", alt: "New Request"), newrequest_path %>
</div>


