<% provide(:title, 'Profile') %>
<%= image_tag("matt-bkg@2x.png", alt: "Matthew")%>

<h2 style="background-color:#ff7300;color:white;">Allergies</h2>
<%= image_tag("allergiesView@2x.png", alt: "Allergies")%>

<h2 style="background-color:#ff7300;color:white;">Surgical History</h2>
<%= image_tag("surgicalView@2x.png", alt: "Surgery")%>

<h2 style="background-color:#ff7300;color:white;">Contact</h2>
<%= image_tag("contactsView@2x.png", alt: "Contacts")%>